<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--  suite completa (todos los prjs) -->
<suite name="SuiteCompleta">
    <test name="Login">
        <classes>
            <class name="login.LoginTests"/>
        </classes>
    </test>
    <!--<test name="Ventas">
        <classes>
            <class name="ventas.Arbol_Ventas"/>
        </classes>
    </test> -->
    <!-- Agregás más tests según tus módulos -->
</suite>
